# build
dist/
.astro/

# deps
node_modules/

# env
.env
.env.*
!.env.example

# editor
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# cloudflare wrangler
.wrangler/
